body{
 background-color: aquamarine;
}

.heading {
  margin-left: 3%;
  color: blue;
}

h2{
  color: brown;
  margin-left: 3%;
}
p{
  margin-left: 3%;
}


div {
  border: 3px solid aquamarine;
  padding: 5px;
}

.food-img{
  margin-left: 3%;
}


#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 20px 15px;
}
